<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @todolist.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @todolist.description %>
</p>

<div class="todoitems-wrapper">
  <%=render @todolist.todoitems%>
  <div class = "form">
     <%=render "todoitems/form"%>
  </div>
</div>


<table class="comicGreen" border="3">
	<thead>
		<tr>
			<th>Content</th>
			<th>Show</th>
			<th>Delete</th>
			<th>Strike as completed</th>
		</tr>
	</thead>
    <p>List of items belongs to the todo list are:</p>
    <ol>
	<tbody>
		<%@todolist.todoitems.limit(@todolist.todoitems.length-1).each do |todoitem|%>
			<tr>
				<td><%=todoitem.content%></td>
				<td><%=link_to "Show the item",todolist_todoitem_path(todolist_id: todoitem.todolist_id,id: todoitem.id)%></td>
				<td><%=link_to "Delete the item",todolist_todoitem_path(todolist_id: todoitem.todolist_id,id: todoitem.id),method: :delete%></td>
				<td>
					
					<div class="row clearfix">
						<% if(todoitem.completed?)%>
						<div class="mark-completed">
							<%=link_to "Mark as complete",complete_todolist_todoitem_path(@todolist.id,todoitem.id)%>
						</div>
						<div class="todo-item">
							<p><strike><%=todoitem.content%></strike></p>
						</div>
						<div class="trash">
							<%= link_to "delete the item",todoitem_path(todoitem.id),method: :delete %>
						</div>	
						<%else%>
						<div class="mark-completed">
							<%=link_to "Mark as complete",complete_todolist_todoitem_path(@todolist.id,todoitem.id)%>
						</div>
						<div class="todo-item">
							<p><%=todoitem.content%></p>
						</div>
						<div class="trash">
							<%= link_to "delete the item",todoitem_path(todoitem.id),method: :delete %>
						</div>	
						<%end%>
					</div>

				</td>
		    </tr>	
	    <%end%> 		
	</tbody>
    </ol>
</table>

<%= link_to "create a new Todoitem",new_todolist_todoitem_path(@todolist)%>

<%= link_to 'Edit', edit_todolist_path(@todolist) %> |
<%= link_to 'Back', todolists_path %>
